{% extends 'layout.html' %}


{% block title %}{{ invoice.number }} &mdash; mkfacturi{% endblock %}


{% block content %}
  <div class="breadcrumbs">
    <a href="{{ url_for('.home') }}">&laquo; index</a>
    <a href="{{ url_for('.invoice', code=invoice.code) }}">one</a>
    <a href="{{ url_for('.invoice', code=invoice.code, n=2) }}">two</a>
  </div>

  <div class="paper-a4">
    {%- include 'invoice.html' with context -%}

    <hr class="middle">

    {%- if n == 2 %}
      {%- include 'invoice.html' with context -%}
    {%- endif %}
  </div>
{% endblock content %}
